<section class="container m-auto">
  <h1 class="text-center text-white mb-4 mt-4">La Liste des produits : {{products.length}}</h1>
  <!-- Alerte produit supprimé -->
  <div class="bg-danger text-white text-center w-50 m-auto mb-4" *ngIf="show">Le produit est supprimé
  </div>
  <div class="bg-info text-dark text-center w-50 m-auto mb-4" *ngIf="modifyProductAlert">Le produit {{newProduct.title}} a été modifié
  </div>
  <!-- Commencement mise en page Grid System -->
  <div class="row">
    <!-- Commencement formulaire recherche -->
    <div class="row">
      <div class="col-6">

        <!-- Recherche par gamme de prix-->
        <h6 class="text-white text-center">Search by price range</h6>
        <form (ngSubmit)="searchProducts(search)" #search="ngForm">
          <div class="row mb-5">
            <div class="col-4">
              <div class="form-group">
                <input type="number" name="min" class="form-control" placeholder="Min price" ngModel>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <input type="number" name="max" class="form-control" placeholder="Max price" ngModel>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-6">
        <!-- Recherche par mot-clés-->
        <h6 class="text-white text-center">Search by keyword</h6>
        <form (ngSubmit)="searchKeywords(searchKeyword)" #searchKeyword="ngForm">
          <div class="row mb-5">
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" name="keyword" placeholder="Mot-clé" ngModel>
              </div>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Commencement de la boucle qui affiche tous les produits -->
    <div class="col-sm" *ngFor="let product of products">
      <div class="card shadow-sm  rounded mb-4">
        <div class="card-body">
          <img src="{{product.image}}" class="img-thumbnnail rounded-start m-auto"
          style="object-fit: contain; width:500px;height:500px" alt="...">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <div class="row">
            <div class="col-sm mb-2">
              <p class="card-text text-muted">{{product.price}}€ la barquette de 500g</p>
            </div>
            <div class="col-sm mb-2"> <i class="fa-solid"
                [ngClass]="{'fa-thumbs-up text-success': product.available, 'fa-thumbs-down text-danger': !product.available}"
                (click)="isAvailableFromProducts(product)"></i>
            </div>
        

          <!-- Modal qui permet d'avoir un formulaire pop up-->
            <!-- Button trigger modal -->
          <div class="col-sm mb-2">
            <button type="button" class="btn btn-outline-warning shadow-sm" (click)="editProduct(product)" data-toggle="modal"
            data-target="#exampleModal">
            Modifier
          </button>
          </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
      
                    <h5 class="modal-title m-auto mt-4" id="exampleModalLabel">Modifier le produit</h5>
              
                  <div class="modal-body">
                    <!-- Formulaire de modification de produit-->

                    <form>
                      <div class="form-group">
                        <label for="">Nom du produit</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="newProduct.title"
                          placeholder="Entrez nom">
                      </div>
                      <div class="form-group">
                        <label for="">Description du produit</label>
                        <input type="text" class="form-control" name="description" [(ngModel)]="newProduct.description"
                          placeholder="Entrez escription" ngModel>
                      </div>
                      <div class="form-group">
                        <label for="">Image actuelle : </label>
                        <img class="w-50" src={{newProduct.image}}>
                        <input type="text" class="form-control" name="image" [(ngModel)]="newProduct.image"
                          placeholder="Ajouter l'image">
                      </div>
                      <div class="form-group">
                        <input class="form-check-input" type="checkbox" name="available"
                          [(ngModel)]="newProduct.available" value="">
                        <label class="form-check-label" for="flexCheckDefault">Cochez si disponible</label>
                      </div>
                      <div class="form-group">
                        <label for="">Prix du produit</label>
                        <input type="number" class="form-control" name="price" [(ngModel)]="newProduct.price"
                          placeholder="Choisir le prix">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" (click)="modifyProduct(newProduct)" data-dismiss="modal"
                          class="btn btn-info text-white">Valider</button>
                      </div>
                    </form>

                    <!-- Fin du formulaire -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin de la modal-->
            <div class="col-sm mb-2"><button class="btn btn-danger shadow-sm"
              (click)="deleteProductsFromProducts(product.id)" *ngIf="isAuth">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin de boucle -->
  </div>
</section>