<ul class="nav justify-content-center shadow p-3 mb-5 bg-warning">
  <li class="nav-item">
    <a class="nav-brand">
      <img src="assets/img/logo.png" style="width: 120px;height:60px">
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="product">Les produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-product">Ajouter un produit</a>
  </li>

  <li class="nav-item">
    <button class="nav-link  text-white btn btn-success" routerLink="login">Connexion</button>
  </li>
</ul>
<router-outlet></router-outlet>